{{define "content"}}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">TicketID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Public Key</th>
                    <th scope="col">Internal IP</th>
                    <th scope="col">Hostname</th>
                    <th scope="col">Public IP*</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {{range .Tickets}}
                    <tr>
                        <th scope="row">{{ .ID }}</th>
                        <td>{{ .TicketID }}</td>
                        <td>{{ .Status }}</td>
                        <td>{{ .PublicKey }}</td>
                        <td>{{ .InternIpv4 }}</td>
                        <td>{{ .Hostname }}</td>
                        <td>{{ .PublicIP }}</td>
                        <td>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item {{if ne .Status "new"}}disabled{{end}}"  href="/gui/ticket/approve?id={{ .TicketID }}">Approve</a>
                                    <a class="dropdown-item {{if ne .Status "new"}}disabled{{end}}" href="/gui/ticket/deny?id={{ .TicketID }}">Deny</a>
                                    <a class="dropdown-item {{if ne .Status "approved"}}disabled{{end}}" href="/gui/ticket/reject?id={{ .TicketID }}">Reject</a>
                                    <a class="dropdown-item {{if ne .Status "rejected" }}disabled{{end}}" href="/gui/ticket/reapprove?id={{ .TicketID }}">Reactivate</a>
                                    <!--<a class="dropdown-item" href="/gui/ticket/delete?id={{ .TicketID }}">Delete</a>!-->
                                </div>
                            </div>
                        </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
            * IP the Ticket is created with
        </div>
    </div>



{{end}}